<ion-header>
  <ion-toolbar class="content">
    <ion-buttons slot="start">
      <ion-button class="white1" (click)="pop()"><ion-icon size="large" name="arrow-back-circle-outline"></ion-icon></ion-button>
    </ion-buttons>
    
    <ion-title *ngIf="selected" class="title">
      Reset Password
    </ion-title>
    <ion-title *ngIf="!selected" class="title">
      Reset Username
    </ion-title>
    <ion-icon slot="end" style="margin-right: 20px; height: 26px; width: 22%;" [src]="img.AppLogo"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-img class="loginimg" [src]="img.LoginImg"></ion-img>
  </div>
  <ng-container *ngIf="!selected">
    <form [formGroup]="resetForm" (ngSubmit)="reset()">
        <div style="margin-left: 18px; margin-right: 18px">
          <!-- old username -->
          <ng-container *ngIf="disableUsername">
            <div style="border-bottom: 1px solid black" class="flext-between normalPaddingLeft normalPaddingRight smallMarginBottom">
              <div class="flext-between">
                <ion-button style="--padding-start: 2px" class="smallRippleBtn ion-no-margin" fill="clear">
                  <ion-icon class="icons" [src]="img.UserName"></ion-icon>
                </ion-button>
              </div>
              <ion-input  class="inputs" pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*\.[a-z]{2,}$"
               type="email" formControlName="mail" placeholder="Email Address" [(ngModel)]="mail"></ion-input>
            </div>
            <app-form-error class="error" [errorMessage]="errorMessages.INVALID_EMAIL" [showError]="validationCheck('mail')"></app-form-error>
          </ng-container>
          <ng-container *ngIf="!disableUsername">
            <div style="border-bottom: 1px solid black" class="flext-between normalPaddingLeft normalPaddingRight smallMarginBottom">
              <div class="flext-between">
                <ion-button style="--padding-start: 2px" class="smallRippleBtn ion-no-margin" fill="clear">
                  <ion-icon class="icons" [src]="img.UserName"></ion-icon>
                </ion-button>
              </div>
              <ion-input class="inputs" [disabled]="true" type="email" placeholder="E-Mail" [value]="mail"></ion-input>
            </div>
          </ng-container>

          <p *ngIf="disableUsername" style="font-size: 0.8rem; color: #2e83cf;">
            Confirmation code will be sent to the registered Email Address.
          </p>

          <div *ngIf="!selected && !disableUsername" style="border-bottom: 1px solid black" class="flext-between normalPaddingLeft normalPaddingRight smallMarginBottom">
            <div class="flext-between">
              <ion-button style="--padding-start: 2px" class="smallRippleBtn ion-no-margin" fill="clear">
                <ion-icon class="icons" [src]="img.UserName"></ion-icon>
              </ion-button> 
            </div>
            <ion-input class="inputs" type="text" pattern="^[a-zA-Z0-9_.]+$" 
            formControlName="uUsername" placeholder="New Username" [(ngModel)]="uUsername"></ion-input>
          </div>
          <app-form-error *ngIf="!selected && !disableUsername" class="error" [errorMessage]="errorMessages.INVALID_USERNAME" [showError]="validationCheck('uUsername')"></app-form-error>

          <ion-button  (click)="reset()"
            shape="round" class="login_button" expand="full">
            Reset Username
          </ion-button>

        </div>
    </form>
  </ng-container>
  <ng-container *ngIf="selected">
    <form [formGroup]="resetPassword" (ngSubmit)="nextPasswordConfirmation()">
        <div style="margin-left: 18px; margin-right: 18px">
          
          <div style="border-bottom: 1px solid black" class="flext-between normalPaddingLeft normalPaddingRight smallMarginBottom">
            <div class="flext-between">
              <ion-button style="--padding-start: 2px" class="smallRippleBtn ion-no-margin" fill="clear">
                <ion-icon class="icons" [src]="img.UserName"></ion-icon>
              </ion-button>
            </div>
            <ion-input class="inputs" type="email"
             formControlName="mailpswd" placeholder="Email Address" [(ngModel)]="mailpswd"></ion-input>
          </div>
          <app-form-error class="error" [errorMessage]="errorMessages.INVALID_EMAIL" [showError]="validationCheck1('mailpswd')"></app-form-error>
          <p style="font-size: 0.8rem; color: #2e83cf;">
            Confirmation code will be sent to the registered Email Address.
          </p>

          <ion-button (click)="nextPasswordConfirmation()"
            shape="round" class="login_button" expand="full">
            Reset Password
          </ion-button>
        </div>
    </form>
  </ng-container>
  <div style="margin-top: 10%; display: flex; justify-content: center;">
    <p (click)="change()" class="forgotpass" > 
      Change 
      <span *ngIf="!selected" class="purple" >Password?</span>
      <span *ngIf="selected" class="purple" >Username?</span>
    </p>
  </div>
</ion-content>
