.loginheader{
   box-shadow: none;
   -webkit-box-shadow:none !important;
}
.loginimg{
    margin: 30px;
}
.login_top {
    font-size: 1.5rem;
    font-family: medium, sans-serif;
    margin-bottom: 0px !important;
    font-weight: 500;
  }
.icons {
    width: 14px;
    height: 16px;
}
.inputs {
    font-size: 12px;
    font-family: "regular", sans-serif;
    --highlight-color: none;
  }
.error {
    font-family: 'light', sans-serif;
    font-size: 0.8rem;
    color: red;
  }
.forgotpass {
    float: right;
    font-size: 0.8rem;
    font-family: "regular", sans-serif;
  }
.login_button {
    --border-radius: 10px;
    margin-top: 12%;
    margin-left: 18px;
    margin-right: 18px;
    --background: linear-gradient(91deg, #8945EF 0%, #8945ef73 100%);
    --background-activated: linear-gradient(91deg, #8945EF 0%, #8945ef73 100%);
    font-size: 15px;
    font-family: "medium", sans-serif;
    text-transform: none;
  }
.flext-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
    p {
      margin: 0;
    }
  }
.purple{
    color: #8945EF;
    }
.blue{
    color: #2C6CC2;
    }
.register{
    margin-bottom: 20%;
    }
.center{
    text-align: center;
    }
.bold{
    font-weight: 500;
    }

.header-ios ion-toolbar:last-of-type {
    --border-width: 0 0 0;
    --background: white;
    }
ion-toolbar{
--background: white;
}
