.white1{
    color:#8945EF;
    --color:#8945EF;
}
.error-message{
  margin-left: 15px;
    font-size: 0.8rem;
    color: red;
}
.title {
    font-size: 1.4rem !important;
    font-weight: 600;
    color: #8945EF !important;
    padding-inline: 0px;
    text-align: -webkit-left;
  }
  ion-button.save_button.ios{
    margin-bottom: calc(env(safe-area-inset-bottom));
  }
  .ios.title{
    font-size: 1.4rem !important;
    font-weight: 600;
    color: #8945EF !important;
    padding-inline: 0px;
    text-align: -webkit-left;
    padding-inline-start: 55px;
  }
.content {
    --ion-background-color: white;
    --min-height: 50px;
    --background: white;
}
ion-input{
    --highlight-color-focused:#8945EF;
    --highlight-color-valid:#8945EF;
    --highlight-color-invalid:#ef233c;
    
}
ion-select{
    --highlight-color-focused:#8945EF;
    --highlight-color-valid:#8945EF;
    --highlight-color-invalid:#ef233c;
}

.invalidgenderspan{
    margin: 2px 0px 0px 16px;
    font-size: 0.8rem;
    color: #ef233c;
}

.save_button {
    --border-radius: 10px;
    margin-bottom: 10px; 
    margin-left: 8px;
    margin-right: 8px;
    --background: linear-gradient(91deg, #8945EF 0%, #8945ef73 100%);
    --background-activated: linear-gradient(91deg, #8945EF 0%, #8945ef73 100%);
    font-size: 15px;
    font-family: "medium", sans-serif;
    text-transform: none;
  }

 .footer-md {
    --border-width: 0 0 0;
    -webkit-box-shadow: none ;
    box-shadow: none;
}


.iosinvalid{
  border-bottom : 0.5px solid #ef233c;
}
.iosvalid{
    border-bottom : 0.5px solid lightgrey;
  }

  .androidinvalid{
    border-bottom : 1px solid #ef233c;
  }
  .androidvalid{
      border-bottom : 1px solid lightgrey;
    }