<ion-header class="loginheader" [translucent]="true">

  <ion-toolbar class="content">
    <ion-buttons slot="start">
      <ion-button class="white1" (click)="back()"><ion-icon size="large" name="arrow-back-circle-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title class="title" > Reset password </ion-title>
    <ion-icon slot="end" style="margin-right: 20px; height: 26px; width: 22%;" [src]="img.AppLogo"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-img class="loginimg" [src]="img.LoginImg"></ion-img>
  </div>
  <form [formGroup]="resetForm" (ngSubmit)="reset()">
    <div style="margin-left: 18px; margin-right: 18px">
    
      <!-- new username -->
      <div style="border-bottom: 1px solid black" class="flext-between normalPaddingLeft normalPaddingRight smallMarginBottom">
        <div class="flext-between">
          <ion-button style="--padding-start: 2px" class="smallRippleBtn ion-no-margin" fill="clear">
            <ion-icon class="icons" [src]="img.UserName"></ion-icon>
          </ion-button> 
        </div>
        <ion-input class="inputs" type="password" (input)="clearconfirmpass()"
        formControlName="password" placeholder="New password"></ion-input>
      </div>
      <app-form-error class="error" [errorMessage]="errorMessages.CARD_VAL" [showError]="validationCheck('password')"></app-form-error>


      <!-- Original pswd  -->
      <div style="border-bottom: 1px solid black" class="flext-between normalPaddingLeft normalPaddingRight smallMarginBottom">
        <div class="flext-between">
          <ion-button style="--padding-start: 2px" class="smallRippleBtn ion-no-margin" fill="clear">
            <ion-icon class="icons" [src]="img.PasswordLockIcon"></ion-icon>
          </ion-button>
        </div>
        <ion-input class="inputs" [clearOnEdit]="true" type="password" formControlName="confirm_password" placeholder="Confirm password"></ion-input>
      </div>
      <app-form-error class="error" [errorMessage]="errorMessages.CARD_VAL" [showError]="validationCheck('confirm_password')"></app-form-error>

      <ion-button (click)="reset()"
        shape="round" class="login_button" expand="full">
        Reset Password
      </ion-button>
    </div>
</form>
</ion-content>
