.loginheader{
    box-shadow: none;
    -webkit-box-shadow:none !important;
 }
 .login_button {
    --border-radius: 10px;
    margin-top: 12%;
    margin-left: 18px;
    margin-right: 18px;
    --background: linear-gradient(91deg, #8945EF 0%, #8945ef73 100%);
    --background-activated: linear-gradient(91deg, #8945EF 0%, #8945ef73 100%);
    font-size: 15px;
    font-family: "medium", sans-serif;
    text-transform: none;
  }
  .flext-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
    p {
      margin: 0;
    }
  }
  .content {
    --ion-background-color: white;
    --min-height: 50px;
    --background: white;
}
  .title {
    font-size: 1.4rem !important;
    font-weight: 600;
    padding-left: 0px;
    color: #8945EF !important;
    padding-inline: 0px;
    text-align: -webkit-left;
  }
  .ios.title{
    font-size: 1.4rem !important;
    font-weight: 600;
    color: #8945EF !important;
    padding-inline: 0px;
    text-align: -webkit-left;
    padding-inline-start: 55px;
  }
  .white1{
    color:#8945EF;
    --color:#8945EF;
  }
  .loginimg{
    margin: 30px;
}
ion-input{
    --highlight-color-focused:#8945EF;
    --highlight-color-valid:#8945EF;
    --highlight-color-invalid:#ef233c;
    --highlight-color: #8945EF;
    
}
  .icons {
    width: 14px;
    height: 16px;
}
.inputs {
    font-size: 12px;
    font-family: "regular", sans-serif;
    --highlight-color: none;
  }
.error {
    font-family: 'light', sans-serif;
    font-size: 0.8rem;
    color: red;
  }