<div class="delete-box">
  <div class="delete-content">
    <h3 style="color: #8945EF;">
      Delete Account
    </h3>
      <p style="font-size: 15px;">
        Are you sure you want to delete your account?
      </p>
    <span>
      <b>
        Note:
      </b>
     All your chats and data will be deleted from the group. Your data cannot be restored.
    </span>
    <div class="footerDiv">
      <ion-button class="cancelbutton" (click)="close('0')">Cancel</ion-button>
      <ion-button class="confirmbutton" (click)="close('1')">Confirm</ion-button>
    </div>
  </div>
</div>